body{
   margin: auto;
   width: 80%;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }

 .logo {
    width: 150px;
    padding-left: 1px;
    margin-left: 0px;
    margin-top: 0px;
 }

 .content{
    margin-top: 150px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 100;
   
 }

 .app{
   margin-left: 40px;
   margin-bottom: 30px;
   padding-left: 30px;
 }
 .form{
   margin-left: 40px;
   margin-bottom: 30px;
   padding: 20px;
   line-height: 1.5em;
   font-weight: 200;
 }

 .form label{
    display: block;
 }

 .form input{
    padding: 8px;
    width: 80%;
 }

 .val_error{
    color: #ff1f1f;
 }

 
 .button{
   background-color:  black; 
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
 }

 .button:hover{
    background: rgba(247, 115, 7, 0.979);
    color: white;

 }

 .form-group{
    float: left;
    width: 100%;
    
 }







 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}